<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCN0L71c1PV5Z5srdNSDG8i9dAKVvOOx0E</string>
	<key>GCM_SENDER_ID</key>
	<string>368854254688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProjectEcom.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecom-project-3beea</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecom-project-3beea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368854254688:ios:b60fd872c1be7d7b442f05</string>
</dict>
</plist>